ExerService/MvcWCFExer/Service References/BMIService/BMIService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeightRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeightRequest" nillable="true" type="tns:HeightRequest" />
  <xs:complexType name="HeightResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeightResponse" nillable="true" type="tns:HeightResponse" />
  <xs:complexType name="ErrorListResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ErrorListResponse" nillable="true" type="tns:ErrorListResponse" />
  <xs:complexType name="WeightRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeightRequest" nillable="true" type="tns:WeightRequest" />
  <xs:complexType name="WeightResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Weight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WeightResponse" nillable="true" type="tns:WeightResponse" />
  <xs:complexType name="CalculateBMIRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateBMIRequest" nillable="true" type="tns:CalculateBMIRequest" />
  <xs:complexType name="CalculateBMIResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ErrorListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BMI" type="xs:double" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalculateBMIResponse" nillable="true" type="tns:CalculateBMIResponse" />
</xs:schema>