ExerService/MvcWCFExer/Service References/BMIService/BMIService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2121/BMIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExerService" />
  <xs:element name="ConvertCmToFeet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="cm" nillable="true" type="q1:HeightRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertCmToFeetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="ConvertCmToFeetResult" nillable="true" type="q2:HeightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFeetToCm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="ft" nillable="true" type="q3:HeightRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertFeetToCmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="ConvertFeetToCmResult" nillable="true" type="q4:HeightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertKgtoLbs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="kg" nillable="true" type="q5:WeightRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertKgtoLbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="ConvertKgtoLbsResult" nillable="true" type="q6:WeightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLbsToKgs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="lbs" nillable="true" type="q7:WeightRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLbsToKgsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="ConvertLbsToKgsResult" nillable="true" type="q8:WeightResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="bmi" nillable="true" type="q9:CalculateBMIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExerService" minOccurs="0" name="CalculateBMIResult" nillable="true" type="q10:CalculateBMIResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>